<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="MinutesOffset" value="0"/>
    <add key="ExternalApiUrl" value="http://api.football-data.org/v1/"/>
    <add key="X-Auth-Token" value=""/>
    <add key="X-Response-Control" value="minified"/>
  </appSettings>
  <connectionStrings>
    <add name="Bets4FunConnectionString" connectionString="Data Source=.;Initial Catalog=Bets4Fun;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--<location path="App_Themes/Default">
      <system.web>
          <authorization>
              <allow users="?" />
          </authorization>
      </system.web>
  </location>-->
  <system.net>
    <mailSettings>
      <!--<smtp from="b3ts4fun@gmail.com">-->
      <smtp deliveryMethod="Network" from="Bets4Fun &lt;b3ts4fun@gmail.com&gt;" >
        <network host="smtp.gmail.com" password="replaceme" port="587" userName="b3ts4fun@gmail.com" enableSsl="true"  />
      </smtp>
    </mailSettings>
  </system.net>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <globalization fileEncoding="utf-8" culture="pl-PL" uiCulture="pl"/>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" defaultUrl="User/Default.aspx" protection="All" timeout="10"/>
    </authentication>
    <sessionState timeout="30"/>
    <membership defaultProvider="CustomMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="CustomMembershipProvider" type="Bets4Fun.BusinessLogic.UsersLogic, Bets4Fun" connectionStringName="Bets4FunConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false"/>
      </providers>
    </membership>
    <authorization>
      <deny users="?"/>
      <allow users="*"/>
    </authorization>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="Bets4Fun.BusinessLogic.RolesLogic, Bets4Fun" connectionStringName="Bets4FunConnectionString"/>
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
   -->
    <customErrors mode="Off" defaultRedirect="~/User/Default.aspx">
      <!--401 dziala tylko z AccessDeniedHttpModule-->
      <error statusCode="401" redirect="~/Errors/Unauthorized.aspx"/>
      <error statusCode="403" redirect="~/Errors/ErrorDefault.aspx"/>
      <error statusCode="404" redirect="~/Errors/NotFound.aspx"/>
      <error statusCode="500" redirect="~/Errors/ErrorDefault.aspx"/>
    </customErrors>
    <siteMap defaultProvider="MainSiteMap" enabled="true">
      <providers>
        <add name="StatsSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/User/Stats/WebStats.sitemap" securityTrimmingEnabled="true"/>
        <add name="AdminSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Admin/WebAdmin.sitemap" securityTrimmingEnabled="true"/>
        <add name="MainSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/WebMain.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <!--<httpModules>
      <add name="AccessDeniedHttpModule" type="Bets4Fun.Authorization.AccessDeniedHttpModule, ZakladyPilkarskie"/>
    </httpModules>-->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <httpErrors errorMode="Custom">
      <!-- this is impornant -->
      <clear/>
      <!-- zastanowić się jak zrobić aby przekierowywało do stron z błędami i zawierało stronę z której pochodził błąd -->
      <error statusCode="401" path="/Errors/Unauthorized.aspx" responseMode="Redirect" prefixLanguageFilePath=""/>
      <error statusCode="403" path="/Errors/ErrorDefault.aspx" responseMode="Redirect" prefixLanguageFilePath=""/>
      <error statusCode="404" path="/Errors/NotFound.aspx" responseMode="Redirect" prefixLanguageFilePath=""/>
      <error statusCode="500" path="/Errors/ErrorDefault.aspx" responseMode="Redirect" prefixLanguageFilePath=""/>
      <!--<error statusCode="401" path="/zaklady/Errors/Unauthorized.aspx" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
      <error statusCode="403" path="/zaklady/Errors/ErrorDefault.aspx" responseMode="ExecuteURL" prefixLanguageFilePath=""/>
      <error statusCode="404" path="/zaklady/Errors/NotFound.aspx" responseMode="Redirect" prefixLanguageFilePath="" />
      <error statusCode="500" path="/zaklady/Errors/ErrorDefault.aspx" responseMode="ExecuteURL" prefixLanguageFilePath=""/>-->
      <!-- Some custom error pages url go here -->
    </httpErrors>
    <modules>
      <add name="AccessDeniedHttpModule" type="Bets4Fun.Authorization.AccessDeniedHttpModule"/>
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <!--<add value="Login.aspx" />-->
        <add value="User/Default.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
